/* Estilo general para la barra de navegación */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d6fde0; /* Gris */
  padding: 10px 20px;
  height: 80px; /* Fijamos el tamaño del navbar */
}

/* Estilo para el logo y marca */
.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF; /* Blanco */
}

.brand img {
  width: 200px; /* Fijamos el ancho del logo a 200px */
  height: auto; /* La altura se ajustará proporcionalmente */
  margin-right: 10px;
}

.brand p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

/* Lista de categorías */
.categories {
  display: flex;
  list-style: none;
  gap: 50px;
  margin: 0;
  padding: 0;
}

/* Estilo para los enlaces de las categorías */
.category {
  color: #00773c; /* Rojo */
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.category:hover {
  color: #FFFFFF; /* Blanco */
  background-color: #00773c; /* Rojo */
}

/* Estilo para la categoría activa */
.category-active {
  color: #FFFFFF; /* Blanco */
  background-color: #00773c; /* Rojo más oscuro */
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 5px 10px;
}

/* Estilo para el carrito */
.divCart {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #00773c; /* Rojo */
  padding: 5px 10px;
  position: relative;
  cursor: pointer;
}

.cartwidget {
  font-size: 3rem;
}

.divCart p {
  color: #00773c; /* Rojo */
  padding: 4px 8px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}